input {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151) !important;
    font-size: 55px !important;
    width: 241px !important;
    height: 55px !important;
    border-radius: 7px !important;
    color: #999 !important;
    text-align: center;
}

input:hover {
    background-color: rgba(219, 255, 198, 0.432) !important;
}
#icone {
    top: 0% !important;
    bottom: -100px !important;
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;
}
