input {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151) !important;
    font-size: 40px !important;
    width: 190px !important;
    border-radius: 7px !important;
    color: #999 !important;
}

input:hover {
    background-color: rgba(219, 255, 198, 0.432) !important;
}
