body {
    padding-top: 24px;
}

input {
    display: block !important;
    width: 100% !important;
}

    width: 100% !important;
}

section {
    padding: 15px;
}

button {
    margin-top: 10px !important;
}

h3 {
    margin-top: 0px;
}
